.btn-light {
  --bs-btn-color: #d209d5;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #387ec5;
  --bs-btn-hover-border-color: #aab9c9;
  --bs-btn-focus-shadow-rgb: 211,212,213;
  --bs-btn-active-color: #e9e9e9;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #faf8f8;
}

.btn {
  --bs-btn-font-weight: 500;
}
